// branded colours
$brand-primary-orange: #FFA500;
$brand-primary-white: #FFFFFF;
$brand-primary-black: #2A3C4D;
$brand-secondary-blue: var(--brand-secondary-blue, #0083C9);
$brand-background-lightgrey: #FAFCFF;

// Secondary Colours
$color-secondary-blue100: var(--color-secondary-blue, #006CAE);
$color-secondary-blue80: var(--color-secondary-blue80, #339CD4);
$color-secondary-blue60: var(--color-secondary-blue60, #66B5DF);
$color-secondary-blue40: var(--color-secondary-blue40, #99CDE9);
$color-secondary-blue20: var(--color-secondary-blue20, #E5F3FA);
$color-secondary-blue10: var(--color-secondary-blue10, #E5F2FA);


// Neutrals
// a greyscale in intervals of 10% opacity from our base "Dark Gray" color.
$color-functional-neutral80:  var(--color-functional-neutral80, #556371);
$color-functional-neutral60:  var(--color-functional-neutral60, #7289A6);
$color-functional-neutral40:  var(--color-functional-neutral40, #96AAC2);
$color-functional-neutral20:  var(--color-functional-neutral20, #C2D3E4);
$color-functional-neutral10:  var(--color-functional-neutral10, #EDF2F7);



// Neutral Blue
// a scale in intervals of 10% opacity from our base "blue" color.
$color-functional-blue80:  var(--color-functional-blue80, #4F688B);
$color-functional-blue60:  var(--color-functional-blue60, #7289A6);
$color-functional-blue40:  var(--color-functional-blue40, #96AAC2);
$color-functional-blue20:  var(--color-functional-blue20, #C2D3E4);
$color-functional-blue10:  var(--color-functional-blue10, #EFF3F6);

// purples
// TBD, old design colours, to be defined if still in use

// components
$color-button-orange:  var(--color-button-orange, #F6B300);
$color-button-orange-active:  var(--color-button-orange-active, #ECAC03);
$color-button-blue:  var(--color-button-blue, #0083C9);
$color-button-blue-active:  var(--color-button-blue-active, #006CAE);


